language: julia
sudo: required
dist: trusty
julia:
  - 0.4
  - 0.5
  - nightly
matrix:
  allow_failures:
    - julia: nightly
notifications:
  email: false
before_install:
  - sudo apt-get -qq update
#script: # use the default script section which is equivalent to the following
#  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
#  - julia --check-bounds=yes -e 'Pkg.clone(pwd()); Pkg.build("PGFPlots"); Pkg.test("PGFPlots"; coverage=true)'
after_success:
  - julia -e 'cd(Pkg.dir("AA120Q")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
